body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to bottom, #001f3f, #000);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-weight: 600;
    color: #ffffff;
}

.certificate-table {
    width: 90%;           
    max-width: 800px;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #121212;
    border-radius: 12px;
    overflow: hidden;
    font-size: 1rem;
}


.certificate-table th,
.certificate-table td {
    padding: 18px 22px;
    border-bottom: 1px solid #2e2e2e;
    color: #f0f0f0;
    text-align: center;
}

.certificate-table th {
    background-color: #004080;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
    color: #ffffff;
}

.certificate-table tr:last-child td {
    border-bottom: none;
}

.certificate-table tr:hover {
    background-color: #1f1f33;
}

#no-certificates {
    text-align: center;
    margin-top: 30px;
    color: #aaa;
    font-size: 1.1rem;
}
