body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

#dashboard-link,
#username-display,
#exit-link {
    font-size: 14px;
    color: white;
    background-color: #575656;
    padding: 8px 14px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    z-index: 999;
    display: inline-block;
    max-width: fit-content;
    transition: background-color 0.3s ease;
    position: fixed;
}

#dashboard-link {
    top: 20px;
    left: 20px;
}

#exit-link {
    top: 60px; 
    left: 20px;
}

#username-display {
    top: 20px;
    right: 20px;
}

#dashboard-link:hover,
#username-display:hover,
#exit-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

#dashboard-link:hover {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: none;
    transition: opacity 0.3s ease;
}

a:hover {
    opacity: 0.7;
}