<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Sveip trusselen vekk</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/safe_or_not.css') }}">
</head>
<body>
    <a id="dashboard-link" href="/dashbord">← Tilbake til dashboard</a>
    <div id="username-display"></div>

    <div class="simulator">
        <div class="screen">
            <p id="epost">Laster inn...</p>
        </div>
        <div class="choice-buttons">
            <button id="unsafe-button" class="btn-unsafe">🚩</button>
            <button id="safe-button" class="btn-safe">✅</button>                        
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/safe_or_not.js') }}"></script>

</body>
</html>
